/*
  Lightbird - spaces.css
  https://github.com/reizumii/lightbird
*/

/* spaces toolbar */
.spaces-toolbar:not([hidden]) {
  margin-top: var(--lb-toolbar-height) !important;
  border-inline-end: 0 !important;
  --spaces-bg-color: transparent;
  --spaces-bg-image: none;
  --spaces-padding: 4px;
}
.spaces-toolbar-container {
  --spaces-container-gap: var(--lb-button-gap);
}
.spaces-toolbar-button {
  --spaces-button-padding: 12px;

  & > img {
    fill: var(--lb-space-icon-color) !important;
    stroke: transparent !important;
    --spaces-icon-size: var(--lb-icon-line-lg);
  }
  &.current {
    &, &:hover {
      --spaces-button-active-bg-color: var(--lb-button-selected-bgcolor);
      --spaces-button-active-text-color: var(--lb-text-color);
    }
    & > img {
      fill: var(--button-primary-background-color) !important;
    }
    &::before {
      content: "";
      width: 3px;
      height: var(--lb-icon-line-lg);
      background-color: var(--button-primary-background-color);
      border-radius: 999px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/* spaces: icons */
.spaces-toolbar-button {
  --spaces-icon-mail: var(--lb-icon-mail-24);
  --spaces-icon-address-book: var(--lb-icon-address-book-24);
  --spaces-icon-calendar: var(--lb-icon-calendar-24);
  --spaces-icon-tasks: var(--lb-icon-tasks-24);
  --spaces-icon-chat: var(--lb-icon-chat-24);
  --spaces-icon-settings: var(--lb-icon-settings-24);
  --spaces-icon-collapse: var(--lb-icon-collapse-24);

  &.current {
    --spaces-icon-mail: var(--lb-icon-mail-fill-24);
    --spaces-icon-address-book: var(--lb-icon-address-book-fill-24);
    --spaces-icon-calendar: var(--lb-icon-calendar-fill-24);
    --spaces-icon-tasks: var(--lb-icon-tasks-fill-24);
    --spaces-icon-chat: var(--lb-icon-chat-fill-24);
    --spaces-icon-settings: var(--lb-icon-settings-fill-24);
    --spaces-icon-collapse: var(--lb-icon-collapse-fill-24);
  }
}
